[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "public"]
	path = public
	url = https://github.com/3nan3/3nan3.github.io.git
	branch = master
